@import ../App.sass

.logo
  display: flex
  font-size: 60px
  line-height: 1
  color: $color-yellow
  font-family: "Homenaje", sans-serif

.logo-vertical
  flex-direction: column

.logo-horisontal
  flex-direction: row
  gap: 10px