.game-container {
    margin: 0 auto;
}

.card-group {
    position: relative;
    width: 30vmin;
    aspect-ratio: 5 / 7;
    transition-delay: 300ms;
}
.carousel-card {
    padding: 5px;
    position: absolute;
    border: 1px solid yellow;
    border-radius: 1vmin;
    aspect-ratio: 5 / 7;
    background-color: rgba(255, 255, 255, 0.5);
    transition: transform 800ms cubic-bezier(.05,.43,.25,.95);
    background-position: center;
    background-size: cover;
}
.carousel-card p {
    padding: 1rem 0 0 0;
}
.big-card {
    width: 30vmin;
}

.little-card {
    width: 10vmin;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: -1vmin 1vmin 2vmin rgba(0, 0, 0, 0.25);
    opacity: 0%;
}

.big-card:nth-child(1) {
    transform: translateX(-10%) rotate(-2deg);
}

.big-card:nth-child(2) {
    transform: translate(2%, 1%) rotate(1.5deg);
}

.card-group:hover > .carousel-card {  
    box-shadow: -2vmin 2vmin 3vmin rgba(0, 0, 0, 0.4);
}
.card-group:hover > .big-card:nth-child(1) {
    transform: translate(-17%, 6%) rotate(-6deg);
}
.card-group:hover > .big-card:nth-child(2) {
    transform: translate(8%, 3%) rotate(4deg);
}
.card-group:hover > .little-card:nth-child(3) {
    transform: translate(-230%, 90%) rotate(5deg);
    background-color: rgba(255, 255, 0, 0.7);
    color: black;
    opacity: 100%;
}
.card-group:hover > .little-card:nth-child(4) {
    transform: translate(160%, -145%) rotate(-15deg);
    background-color: rgba(255, 193, 6, 0.775);
    opacity: 100%;
}