#progress-bar {
    display: flex;
    justify-content: space-between;
}

#progress-bar > div {
    display: inline-block;
    height: 4.8rem;
    width: 3.2rem;
    padding: 0.4rem;
    margin: 0.8rem;
    background-position: center;
    background-size: cover;
}

.ghost-card {
    position: absolute;
    transform: translateX(-4.8rem);
    mask-image: linear-gradient(90deg, transparent 30%, black 60%);
    opacity: 40%;
    height: 3.2rem;
    width: 2.0rem;
}