.NavBar{
    display: flex;
}

.loggedHome{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.appDesc{
    max-width: 400px;
}

.changeName{
    max-width: 400px;
}