$color-black: #0B0B0B
$color-white: #FFFFFF
$color-yellow: #FFE600
$color-black-01: rgba(0, 0, 0, 0.1)

.form-input
  padding: 10px
  border-radius: 6px
  border: 1px solid $color-yellow
  background-color: $color-black-01
  color: $color-white
  font-size: 16px

.form-label
  color: $color-white
  font-size: 18px

.form-title
  font-size: 32px
  font-weight: 400
  color: $color-white
  font-family: "Inter", "Helvetica Neue", sans-serif
  margin-bottom: 30px

.form-text
  font-size: 20px
  font-weight: 400
  color: $color-white
  font-family: "Inter", "Helvetica Neue", sans-serif

.form-text-accent
  font-weight: 500
  text-decoration: underline

.title-h1
  font-size: 38px
  font-weight: 500

.title-h2
  font-size: 42px
  font-weight: 400

.movie-page 
  padding: 30px 0


.movie-page .header 
  display: flex
  align-items: center
  justify-content: space-between
  margin-bottom: 30px


.count-pill 
  display: block
  background-color: var(--secondary)
  padding: 5px 15px
  font-size: 1.125rem
  font-weight: 600
  border-radius: 999px
  color: var(--primary)


.movie-page .heading 
  color: var(--primary)
  margin: 0


.movie-grid 
  display: grid
  grid-template-columns: repeat(5, 1fr)
  grid-gap: 30px


  


.movie-card 
  width: 100%
  border-radius: 5px
  overflow: hidden
  position: relative
  border: 0
  display: block


.movie-card img 
  width: 100%
  display: block


.movie-card .overlay 
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  border: 2px solid transparent
  transition: all 0.3s ease


.movie-card:hover .overlay 
  border: 3px solid var(--secondary)


.movie-card .inner-card-controls 
  display: inline
  background-color: red
  position: absolute
  bottom: 20px
  left: 50%
  transform: translateX(-50%)
  background: rgba(0, 0, 0, 0.8)
  border-radius: 5px
  padding: 3px
  opacity: 0
  transition: all 0.3s ease


.movie-card:hover .inner-card-controls 
  opacity: 1
